<div class="container">
  <div class="blog-header">
    <h2 class="blog-title"><%= @collection.title %></h2>
    <p class="blog-post-meta">Written by <%= link_to @collection.author.display_name, @collection.author %> <%= @collection.completed ? 'and finished '+@collection.completed_on.to_s : 'but not yet finished' %>.</p>
  </div>

  <div class="row">

    <div class="col-sm-11 blog-main">

      <div class="blog-post">

        <%= render 'show' %>

      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

  </div><!-- /.row -->

</div><!-- /.container -->