<script>$('.Project').addClass('active')</script>
<ul class="project" style="text-align: left;">
  <li>
    <header>
      <h1><a href="https://github.com/saltosaurus/saltosaurus">saltosaur.us</a></h1>
      <div class="status WIP">Work in Progress</div>
    </header>
    <p>
      The site you're looking at, Saltosaur.us was built using a combination of Flask (Python microframework), Sass & Coffeescript.<br /><br />

      Currently the site is not mobile optimized, though it is next on my to-do list.
    </p>
  </li>
</ul>