<div class="container">
  <div class="blog-header">
    <h2 class="blog-title"><%= @story.title %></h2>
    <p class="blog-post-meta">Written <%= distance_of_time_in_words @story.published_on, Time.now %> ago by <%= link_to @story.author.display_name, @story.author %>.</p>
  </div>

  <div class="row">

    <div class="col-sm-11 blog-main">

      <div class="blog-post">

        <%= @story.content %>

      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

  </div><!-- /.row -->

</div><!-- /.container -->