<script>$('.About').addClass('active')</script>
<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Who is the Saltosaurus?</h1>
  </div>

  <div class="row">

    <div class="col-sm-12 blog-main">

      <div class="blog-post">
        <p>My name is Brian Salter and I'm just a random guy, a software developer and a writer.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Who are you?</h2>

        <p>Stuff about me goes here.</p>
      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

  </div><!-- /.row -->

</div><!-- /.container -->