// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #E3E0DC;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #C6C3BB;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #95938F;

  &:hover,&:focus {
    color: #E3DFD9;
    background-color: #95938F;
    text-decoration: none;
  }

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
  }
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #81693D;

  &:hover,&:focus {
    color: #E3DFD9;
    background-color: #95938F;
    text-decoration: none;
  }

  &:after {
    color: #E3E0DC;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right:  5px solid transparent;
    border-bottom: 5px solid;
    border-left:   5px solid transparent;
  }
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #95938F;
  text-align: center;
  background-color: #E3E0DC;
  border-top: 1px solid #95938F;
}