<div class="blog-footer">
  <p>All content on this site &copy;Brian Salter (<a href="https://twitter.com/saltosaurus">@saltosaurus</a>).</p>
  <p>To view the code for this site please visit <a href="https://github.com/saltosaurus/Saltosaurus">GitHub</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</div>