<%# add navigation links to this file %>
<a class="blog-nav-item active" href="#">Home</a>
<a class="blog-nav-item" href="#">Short Stories</a>
<a class="blog-nav-item" href="#">Anthologies</a>
<a class="blog-nav-item" href="#">Novels</a>
<a class="blog-nav-item" href="#">Projects</a>
<a class="blog-nav-item" href="#">FAQ</a>